body {
    font-family: 'Segoe UI', sans-serif;
    margin: 40px auto;
    width: 90%;
    max-width: 800px;
    line-height: 1.6;
    background: #fefefe;
    color: #333;
}
a {
    text-decoration: none;
    color: royalblue;
}
a:hover {
    text-decoration: underline;
}
pre {
    background: #f4f4f4;
    padding: 10px;
    white-space: pre-wrap;
}
